$h: 22px;
$h2: $h - 4px;
$grey: grey;
.painting-switch-wrapper {
  height: $h;
  border: none;
  background: grey;
  border-radius: $h/2;
  position: relative;
  cursor: pointer;
  &[disabled] {
    cursor: not-allowed;
    background-color: #f3f3f3;
    > span {
      cursor: not-allowed;
      background-color: #cccccc;
    }
  }
  > .painting-switch-inner {
    position: absolute;
    display: flex;
    left: 23px;
    top: 2px;
    font-size: 12px;
    color: #fff;
  }
  > span {
    position: absolute;
    top: 2px;
    left: 2px;
    height: $h2;
    width: $h2;
    background: white;
    border-radius: $h2 / 2;
    transition: all 250ms;
  }
  &.painting-checked {
    background: #3399ff;
  }
  &.painting-checked > span {
    left: calc(100% - #{$h2} - 3px);
  }
  &.painting-checked > .painting-switch-inner {
    position: absolute;
    display: flex;
    font-size: 12px;
    color: #fff;
    top: 3px;
    left: 8px;
  }
  &:focus {
    outline: none;
  }
  &:active {
    > span {
      width: $h2 + 4px;
    }
  }
  &.painting-checked:active {
    > span {
      width: $h2 + 4px;
      margin-left: -4px;
    }
  }
}
